name: Build and test

on: [push, pull_request]

jobs:
  build_and_test:
    environment: build
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        platform: [linux, macos]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v5

      - uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: true

      - uses: DeterminateSystems/determinate-nix-action@main

      - uses: DeterminateSystems/flakehub-cache-action@main
      
      - name: Go build
        run: nix develop --command go build -v ./...
    
      - name: Test
        run: nix develop --command go test -v -p 1 ./...

      - name: Nix build packages
        run: |
          for pkg in grpc http; do
            nix build ".#${pkg}"
          done

      - name: Nix build Docker images
        if: ${{ matrix.platform == 'linux' }}
        run: |
          for image in grpc http; do
            nix build ".#dockerImages.x86_64-linux.${image}Docker"
            nix build ".#dockerImages.x86_64-linux.${image}DockerLatest"
          done
